#imHeader_imCell_7 { display: block; position: relative; overflow: hidden; }
#imHeader_imCellStyle_7 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_7 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectImage_07 { width: 100%; vertical-align: top; }
#imHeader_imCell_8 { display: block; position: relative; overflow: hidden; }
#imHeader_imCellStyle_8 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_8 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectImage_08 { width: 100%; vertical-align: top; }
#imFooter_imCell_2 { display: block; position: relative; overflow: hidden; }
#imFooter_imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imFooter_imCellStyleGraphics_2 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imFooter_imObjectImage_02 { width: 100%; vertical-align: top; }

/* CONTAINER AND TITLE */
#imSearchPage { overflow: auto; }
#imPgTitle.searchPageTitle { margin-left: 5px; margin-right: 5px; }

/* SIDE MENU  */

@media (min-width: 960px) {
	#imSearchContent { width: 659px; padding: 20px 0; float: left; }
	#imSearchSideBar { width: 109px; padding: 20px 0; float: right; }
	#imSearchSideBar li { display: block; width: 100%; }
	
}
@media (max-width: 959px) and (min-width: 720px) {
	#imSearchContent { width: 100%; padding: 20px 0; }
	#imSearchSideBar { width: 100%; text-align: center; }
	#imSearchSideBar li { display: inline-block; width: auto; margin-right: 5px; }
	
}
@media (max-width: 719px) and (min-width: 480px) {
	#imSearchContent { width: 100%; padding: 20px 0; }
	#imSearchSideBar { width: 100%; text-align: center; }
	#imSearchSideBar li { display: inline-block; width: auto; margin-right: 5px; }
	
}
@media (max-width: 479px) {
	#imSearchContent { width: 100%; padding: 20px 0; }
	#imSearchSideBar { width: 100%; text-align: center; }
	#imSearchSideBar li { display: inline-block; width: auto; margin-right: 5px; }
	
}
.imSLabel { padding: 10px 0; }
#imSearchSideBar ul { border-top: 1px solid #808080; border-bottom: 1px solid #808080; border-left: 1px solid #808080; border-right: 1px solid #808080; }
#imSearchSideBar li { margin-bottom: 2px; background-color: #BFFFFF; border-bottom: 1px solid #A9A9A9; }
#imSearchSideBar .imPgMnFirst { border: none; }

/* Normal font style */
#imSearchSideBar .imScMnTxt { display: block; padding: 6px 3px; text-decoration: none; font: normal normal 10pt 'Tahoma'; color: #000000;}

/* Current or hover font style */
#imSearchSideBar li:hover { background-color: #3C6CFF; cursor: pointer; }
#imSearchSideBar li:hover a, #imSearchSideBar li:hover .imScMnTxt { cursor: pointer; text-decoration: none; color: #FFFFFF; font-style: normal; font-weight: normal; }
.imScMnTxt a { display: block; width: 100%; }

/* Section font style */
#imSearchSideBar .imPgMnSeparator a, #imSearchSideBar .imPgMnSeparator .imScMnTxt, #imSearchSideBar .imPgMnSeparator:hover a, #imSearchSideBar .imPgMnSeparator .imScMnTxt { cursor: auto; background-color: #BFFFFF; text-decoration: none; color: #0040FF; font-style: normal; font-weight: bold; }
#imSearchSideBar li:hover.imPgMnSeparator { cursor: auto; background-color: #BFFFFF; }
#imSearchSideBar ul a, #imSearchSideBar ul a:hover, #imSearchSideBar ul a:visited { font: inherit; color: inherit; text-align: inherit; text-decoration: none; }

/* SEARCH FIELDS */
.imPageSearchField { text-align: center; }
.imPageSearchField .search_field { border: 1px solid black; background-color: white; font: inherit; }

/* RESULTS */
.imSearchLink { margin-top: 5px; }
.imSearchPageResult, .imSearchBlogResult { margin: 0 0 20px 0; }
.imSearchProductResult { margin: 0 0 30px 0; }
#imSearchResults .imSearchCount { text-decoration: none; font-weight: normal; }
#imSearchResults h3 { color: inherit; margin-bottom: 5px; font-size: 1.2em; text-decoration: underline; font-weight: normal; }
#imSearchResults h3 a, #imSearchResults h3 a:hover, #imSearchResults h3 a:visited { color: inherit; }
#imSearchResults .imProductImage { display: inline-block; width: 20%; text-align: center; vertical-align: top; }
#imSearchResults .imProductImage img { max-width: 100%; }
#imSearchResults .imProductTitle img { margin-left: 10px; }
#imSearchResults .imProductTitle { margin-bottom: 10px; }
#imSearchResults .imProductDescription { display: inline-block; width: 80%; }
#imSearchResults .imProductDescription > * { padding-right: 10px; padding-left: 10px; }
.imSearchImageResultContent {float: left; width: 50%;}
.imSearchImageResult {clear: none; float: left; width: 50% }
.imSearchImageResult img { border-width: 0; width: 94%; padding-left: 3%; padding-right: 3%; float: left; }
.imSearchVideoResultContent {float: left; width: 50%;}
.imSearchVideoResult {clear: none; float: left; width: 50% }
.imSearchVideoResult img { border-width: 0; width: 94%; padding-left: 3%; padding-right: 3%; float: left; }
.imSearchVideoDuration { margin-top: 5px; clear: both; display: block; text-decoration: none; color: gray; font-weight: normal; }
@media (min-width: 960px) {
	#imSearchPage { box-sizing: border-box; width: 960px; margin-left: auto; margin-right: auto; padding: 0 5px 0 170px; }
	
}

@media (max-width: 959px) and (min-width: 720px) {
	#imSearchPage { box-sizing: border-box; width: 720px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	
}

@media (max-width: 719px) and (min-width: 480px) {
	#imSearchPage { box-sizing: border-box; width: 480px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	
}

@media (max-width: 479px) {
	#imSearchPage { width: 100%; }
	
}

@media (min-width: 960px) {
	#imHeader_imObjectImage_07_wrapper { position: absolute; top: -33px; left: 475px; width: 484px; height: 133px; z-index: 1; overflow-y: hidden; }
	#imHeader_imObjectImage_07_wrapper img {-webkit-clip-path: inset(0 0 30% 0);clip-path: inset(0 0 30% 0);}#imHeader_imCell_7 { width: 484px; min-height: 190px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_7 { width: 484px; min-height: 190px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_7 { left: 0px; right: 0px; }
	#imHeader_imObjectImage_08_wrapper { position: absolute; top: -1px; left: 0px; width: 479px; height: 101px; z-index: 2; overflow-y: hidden; }
	#imHeader_imObjectImage_08_wrapper img {-webkit-clip-path: inset(0 0 0% 0);clip-path: inset(0 0 0% 0);}#imHeader_imCell_8 { width: 479px; min-height: 101px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_8 { width: 479px; min-height: 101px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_8 { left: 0px; right: 0px; }
	
}

@media (max-width: 959px) and (min-width: 720px) {
	#imHeader_imObjectImage_07_wrapper { position: absolute; top: 0px; left: 179px; width: 150px; height: 100px; z-index: 1; overflow-y: hidden; }
	#imHeader_imObjectImage_07_wrapper img {-webkit-clip-path: inset(0 0 -69.492% 0);clip-path: inset(0 0 -69.492% 0);}#imHeader_imCell_7 { width: 150px; min-height: 59px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_7 { width: 150px; min-height: 59px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_7 { left: 0px; right: 0px; }
	#imHeader_imObjectImage_08_wrapper { position: absolute; top: 0px; left: 64px; width: 150px; height: 100px; z-index: 2; overflow-y: hidden; }
	#imHeader_imObjectImage_08_wrapper img {-webkit-clip-path: inset(0 0 -212.5% 0);clip-path: inset(0 0 -212.5% 0);}#imHeader_imCell_8 { width: 150px; min-height: 32px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_8 { width: 150px; min-height: 32px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_8 { left: 0px; right: 0px; }
	
}

@media (max-width: 719px) and (min-width: 480px) {
	#imHeader_imObjectImage_07_wrapper { position: absolute; top: 0px; left: 179px; width: 150px; height: 100px; z-index: 1; overflow-y: hidden; }
	#imHeader_imObjectImage_07_wrapper img {-webkit-clip-path: inset(0 0 -69.492% 0);clip-path: inset(0 0 -69.492% 0);}#imHeader_imCell_7 { width: 150px; min-height: 59px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_7 { width: 150px; min-height: 59px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_7 { left: 0px; right: 0px; }
	#imHeader_imObjectImage_08_wrapper { position: absolute; top: 0px; left: 64px; width: 150px; height: 100px; z-index: 2; overflow-y: hidden; }
	#imHeader_imObjectImage_08_wrapper img {-webkit-clip-path: inset(0 0 -212.5% 0);clip-path: inset(0 0 -212.5% 0);}#imHeader_imCell_8 { width: 150px; min-height: 32px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_8 { width: 150px; min-height: 32px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_8 { left: 0px; right: 0px; }
	
}

@media (max-width: 479px) {
	#imHeader_imObjectImage_07_wrapper { position: absolute; top: 0px; left: 170px; width: 150px; height: 100px; z-index: 1; overflow-y: hidden; }
	#imHeader_imObjectImage_07_wrapper img {-webkit-clip-path: inset(0 0 -69.492% 0);clip-path: inset(0 0 -69.492% 0);}#imHeader_imCell_7 { width: 100%; min-height: 59px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_7 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_7 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	#imHeader_imObjectImage_08_wrapper { position: absolute; top: 0px; left: 64px; width: 150px; height: 100px; z-index: 2; overflow-y: hidden; }
	#imHeader_imObjectImage_08_wrapper img {-webkit-clip-path: inset(0 0 -212.5% 0);clip-path: inset(0 0 -212.5% 0);}#imHeader_imCell_8 { width: 100%; min-height: 32px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_8 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_8 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	
}

@media (min-width: 960px) {
	#imFooter_imObjectImage_02_wrapper { position: absolute; top: 1px; left: 0px; width: 960px; height: 100px; z-index: 1; overflow-y: hidden; }
	#imFooter_imObjectImage_02_wrapper img {-webkit-clip-path: inset(0 0 5.66% 0);clip-path: inset(0 0 5.66% 0);}#imFooter_imCell_2 { width: 960px; min-height: 106px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imFooter_imCellStyle_2 { width: 960px; min-height: 106px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imFooter_imCellStyleGraphics_2 { left: 0px; right: 0px; }
	
}

@media (max-width: 959px) and (min-width: 720px) {
	#imFooter_imObjectImage_02_wrapper { position: absolute; top: 0px; left: 212px; width: 150px; height: 100px; z-index: 1; overflow-y: hidden; }
	#imFooter_imObjectImage_02_wrapper img {-webkit-clip-path: inset(0 0 -525% 0);clip-path: inset(0 0 -525% 0);}#imFooter_imCell_2 { width: 150px; min-height: 16px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imFooter_imCellStyle_2 { width: 150px; min-height: 16px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imFooter_imCellStyleGraphics_2 { left: 0px; right: 0px; }
	
}

@media (max-width: 719px) and (min-width: 480px) {
	#imFooter_imObjectImage_02_wrapper { position: absolute; top: 15px; left: 212px; width: 150px; height: 100px; z-index: 1; overflow-y: hidden; }
	#imFooter_imObjectImage_02_wrapper img {-webkit-clip-path: inset(0 0 -525% 0);clip-path: inset(0 0 -525% 0);}#imFooter_imCell_2 { width: 150px; min-height: 16px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imFooter_imCellStyle_2 { width: 150px; min-height: 16px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imFooter_imCellStyleGraphics_2 { left: 0px; right: 0px; }
	
}

@media (max-width: 479px) {
	#imFooter_imObjectImage_02_wrapper { position: absolute; top: 0px; left: 170px; width: 150px; height: 100px; z-index: 1; overflow-y: hidden; }
	#imFooter_imObjectImage_02_wrapper img {-webkit-clip-path: inset(0 0 -525% 0);clip-path: inset(0 0 -525% 0);}#imFooter_imCell_2 { width: 100%; min-height: 16px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imFooter_imCellStyle_2 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imFooter_imCellStyleGraphics_2 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	
}

